version: "3.8"

services:
  postgres:
    image: postgres:13
    restart: always
    env_file: .env
    volumes:
      - postgres-data:/var/lib/postgresql/data

  server:
    # استفاده از ایمیج آماده GHCR
    image: ghcr.io/pinfinity1/tiamara-server:latest
    restart: always
    ports:
      - "3001:3001"
    env_file: .env
    depends_on:
      - postgres
    # دستور شروع: مایگریشن + سید + اجرا
    command: sh -c "npx prisma migrate deploy && node dist/prisma/seed.js && npm start"

  client:
    # استفاده از ایمیج آماده GHCR
    image: ghcr.io/pinfinity1/tiamara-client:latest
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    # !!! حیاتی: جلوگیری از تداخل پورت با سرور !!!
    environment:
      - PORT=3000
    depends_on:
      - server

volumes:
  postgres-data:
