# /docker-compose.yml
version: "3.8"
services:
  postgres:
    image: postgres:13
    restart: always
    env_file: .env
    ports:
      - "5432:5432" # پورت لوکال سیستم -> پورت داکر
    volumes:
      - postgres-data-local:/var/lib/postgresql/data

volumes:
  postgres-data-local:
