/* VideoShowcase.module.css */

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 256px; /* عرض اسلاید در موبایل */
  min-width: 0;
  padding: 0 10px;
  border-radius: 16px;
  overflow: hidden;
}

/* استایل برای نمایشگرهای بزرگتر */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 300px; /* عرض اسلاید در دسکتاپ */
  }
}

.embla__slide > div {
  height: 100%;
}

.embla__lazy-load {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__lazy-load__spinner {
  border: 0.3rem solid rgba(255, 255, 255, 0.2);
  border-left-color: #fff;
  font-size: 1rem;
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-indent: -9999em;
  animation: loading 1.1s infinite linear;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  z-index: 1;
}

.embla__slide__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embla__lazy-load__video {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.embla__lazy-load--has-loaded .embla__lazy-load__video {
  opacity: 1;
}

.embla__lazy-load--has-loaded .embla__lazy-load__spinner {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
