@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 100; /* Thin */
  src: url("Vazir-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 200; /* Light */
  src: url("Vazir-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400; /* Normal (Regular) */
  src: url("Vazir.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("Vazir-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("Vazir-Bold.woff") format("woff");
  font-display: swap;
}
