name: Production Build & Deploy

on:
    push:
        branches: ["main"]

env:
    REGISTRY: ghcr.io
    IMAGE_OWNER: pinfinity1

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Container registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            # بیلد سرور (فقط amd64)
            - name: Build and push Server
              uses: docker/build-push-action@v5
              with:
                  context: ./server
                  file: ./server/Dockerfile
                  push: true
                  platforms: linux/amd64 # <--- تغییر اینجاست
                  tags: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/tiamara-server:latest
                  cache-from: type=gha,scope=server
                  cache-to: type=gha,mode=max,scope=server

            # بیلد کلاینت (فقط amd64)
            - name: Build and push Client
              uses: docker/build-push-action@v5
              with:
                  context: ./client
                  file: ./client/Dockerfile
                  push: true
                  platforms: linux/amd64 # <--- تغییر اینجاست
                  build-args: |
                      NEXT_PUBLIC_API_BASE_URL=https://api.tiamara.ir/api
                  tags: ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/tiamara-client:latest
                  cache-from: type=gha,scope=client
                  cache-to: type=gha,mode=max,scope=client

    deploy:
        needs: build-and-push
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to VPS
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  password: ${{ secrets.SERVER_PASS }}
                  script: |
                      cd /var/www/tiamara || exit
                      git pull origin main
                      echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${{ env.IMAGE_OWNER }} --password-stdin
                      docker-compose -f docker-compose.prod.yml pull
                      docker-compose -f docker-compose.prod.yml down
                      docker-compose -f docker-compose.prod.yml up -d
                      docker image prune -f
